<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbit.dao.AsKeywordsDao">
  <resultMap id="BaseResultMap" type="com.jbit.entity.AsKeywords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="systemconfigId" jdbcType="INTEGER" property="systemconfigid" />
    <result column="customId" jdbcType="INTEGER" property="customid" />
    <result column="agentId" jdbcType="INTEGER" property="agentid" />
    <result column="preRegFrozenMoney" jdbcType="DOUBLE" property="preregfrozenmoney" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="openApp" jdbcType="INTEGER" property="openapp" />
    <result column="appUserName" jdbcType="VARCHAR" property="appusername" />
    <result column="appPassword" jdbcType="VARCHAR" property="apppassword" />
    <result column="preRegDatetime" jdbcType="TIMESTAMP" property="preregdatetime" />
    <result column="preRegPassDatetime" jdbcType="TIMESTAMP" property="preregpassdatetime" />
    <result column="regDatetime" jdbcType="TIMESTAMP" property="regdatetime" />
    <result column="regPassDatetime" jdbcType="TIMESTAMP" property="regpassdatetime" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
    <result column="checkStatus" jdbcType="INTEGER" property="checkstatus" />
    <result column="isUse" jdbcType="INTEGER" property="isuse" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jbit.entity.AsKeywordsWithBLOBs">
    <result column="keywords" jdbcType="LONGVARCHAR" property="keywords" />
    <result column="loginUrl" jdbcType="LONGVARCHAR" property="loginurl" />
    <result column="iosDownloadUrl" jdbcType="LONGVARCHAR" property="iosdownloadurl" />
    <result column="androidDownloadUrl" jdbcType="LONGVARCHAR" property="androiddownloadurl" />
    <result column="codeIosUrl" jdbcType="LONGVARCHAR" property="codeiosurl" />
    <result column="codeAndroidUrl" jdbcType="LONGVARCHAR" property="codeandroidurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, systemconfigId, customId, agentId, preRegFrozenMoney, price, openApp, appUserName, 
    appPassword, preRegDatetime, preRegPassDatetime, regDatetime, regPassDatetime, isPass, 
    checkStatus, isUse
  </sql>
  <sql id="Blob_Column_List">
    keywords, loginUrl, iosDownloadUrl, androidDownloadUrl, codeIosUrl, codeAndroidUrl
  </sql>

  <select id="findAll" resultType="AsKeywords">
    SELECT
    keywords.*,
    (SELECT customs.customName FROM as_customs customs WHERE keywords.customId=customs.id) customname,
    (SELECT as_u.userName FROM as_user as_u WHERE keywords.agentId=as_u.id) agentname,
      (YEAR(keywords.regPassDatetime)-YEAR(keywords.regDatetime)) serviceyears
    FROM as_keywords keywords
  </select>

  <insert id="insertAsKeywords" parameterType="AsKeywords">
    INSERT INTO as_keywords (systemconfigId, customId, agentId, price, openApp,
       regDatetime, isPass,checkStatus, isUse,keywords) VALUES (
      <if test="systemconfigid !=null">#{systemconfigid},
      </if>
      <if test="customid !=null">#{customid},
      </if>
      <if test ="agentid !=null">#{agentid},
      </if>
      <if test="price !=null">#{price},
      </if>
      <if test="openapp !=null">#{openapp},
      </if>
      <if test="regdatetime !=null">#{regdatetime},
      </if>
      <if test="ispass !=null">
      #{ispass},
    </if>
      <if test="checkstatus !=null">
      #{checkstatus},
    </if>
      <if test="isuse !=null">
        #{isuse},
      </if>
    <if test="keywords !=null">
      #{keywords}
    </if>
        )
        </insert>

<!--<select id="findPageList" resultType="AsKeywords">-->
<!--SELECT-->
  <!--keywords.*,-->
  <!--(SELECT customs.customName FROM as_customs customs WHERE keywords.customId=customs.id) customname,-->
  <!--(SELECT as_u.userName FROM as_user as_u WHERE keywords.agentId=as_u.id) agentname,-->
    <!--(YEAR(keywords.regPassDatetime)-YEAR(keywords.regDatetime)) serviceyears-->
    <!--FROM as_keywords keywords ORDER BY keywords.id ASC limit #{first},#{last}-->
<!--</select>-->

<select id="findAsKeywordsCount" resultType="Integer" parameterType="String">
SELECT count(*) from as_keywords
  <if test="keywords !=null and keywords!=''">
    WHERE keywords LIKE concat("%",#{keywords},"%")
  </if>
</select>

  <delete id="deleteById" parameterType="Integer">
    DELETE from as_keywords WHERE id=#{id}
  </delete>

  <update id="updateOpenApp" parameterType="Integer">
    UPDATE as_keywords set openApp=2 where id=#{id}
  </update>

  <select id="findListBySearch" resultType="AsKeywords">
    SELECT
    keywords.*,
    (SELECT customs.customName FROM as_customs customs WHERE keywords.customId=customs.id) customname,
    (SELECT as_u.userName FROM as_user as_u WHERE keywords.agentId=as_u.id) agentname,
    (YEAR(keywords.regPassDatetime)-YEAR(keywords.regDatetime)) serviceyears
    FROM as_keywords keywords
    <if test="keywords !=null and keywords!=''">
       WHERE keywords.keywords LIKE concat("%",#{keywords},"%")
    </if>
      ORDER BY keywords.id ASC
    <if test="first >=0 and first!=null">
      limit #{first},#{last}
    </if>
  </select>

  <update id="updateAskeywords" parameterType="AsKeywords">
    UPDATE as_keywords
     <trim prefix="set" suffixOverrides=",">
       <if test="checkstatus!=null and checkstatus!=''">
          checkStatus=#{checkstatus},
       </if>
       <if test="isuse!=null and isuse!=''">
         isUse=#{isuse}
       </if>
     </trim>
     where id=#{id}
  </update>
</mapper>